{
  "openapi": "3.0.3",
  "info": {
    "title": "Reward Prize Engine API",
    "version": "0.1.0",
    "description": "Tenant-facing Prize Engine endpoints for catalog reads, fairness verification, reward decisions, observability, and ledger lookups."
  },
  "tags": [
    {
      "name": "Prize Engine",
      "description": "External B-side reward engine API."
    }
  ],
  "servers": [
    {
      "url": "https://api.reward.system",
      "description": "Production API host"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local backend"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Preferred transport for project API keys."
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Alternative header-based project API key transport."
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "code": {
                "type": "string",
                "minLength": 1
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "message"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "error"
        ],
        "additionalProperties": false
      },
      "PrizeEngineOverview": {
        "type": "object",
        "properties": {
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "tenantId": {
                "type": "integer"
              },
              "slug": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "environment": {
                "type": "string",
                "enum": [
                  "sandbox",
                  "live"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "suspended",
                  "archived"
                ]
              },
              "currency": {
                "type": "string"
              },
              "drawCost": {
                "type": "string"
              },
              "prizePoolBalance": {
                "type": "string"
              },
              "strategy": {
                "type": "string",
                "enum": [
                  "weighted_gacha",
                  "epsilon_greedy",
                  "softmax",
                  "thompson"
                ]
              },
              "strategyParams": {
                "type": "object",
                "additionalProperties": {}
              },
              "fairnessEpochSeconds": {
                "type": "integer",
                "exclusiveMinimum": true,
                "minimum": 0
              },
              "maxDrawCount": {
                "type": "integer",
                "exclusiveMinimum": true,
                "minimum": 0
              },
              "missWeight": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "id",
              "tenantId",
              "slug",
              "name",
              "environment",
              "status",
              "currency",
              "drawCost",
              "prizePoolBalance",
              "strategy",
              "strategyParams",
              "fairnessEpochSeconds",
              "maxDrawCount",
              "missWeight"
            ],
            "additionalProperties": false
          },
          "fairness": {
            "type": "object",
            "properties": {
              "epoch": {
                "type": "integer"
              },
              "epochSeconds": {
                "type": "integer"
              },
              "commitHash": {
                "type": "string"
              }
            },
            "required": [
              "epoch",
              "epochSeconds",
              "commitHash"
            ],
            "additionalProperties": false
          },
          "prizes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "rewardAmount": {
                  "type": "string"
                },
                "displayRarity": {
                  "type": "string",
                  "enum": [
                    "common",
                    "rare",
                    "epic",
                    "legendary"
                  ]
                },
                "stock": {
                  "type": "integer",
                  "minimum": 0
                },
                "stockState": {
                  "type": "string",
                  "enum": [
                    "available",
                    "low",
                    "sold_out"
                  ]
                },
                "isFeatured": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "name",
                "rewardAmount",
                "displayRarity",
                "stock",
                "stockState",
                "isFeatured"
              ],
              "additionalProperties": false
            }
          },
          "featuredPrizes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "rewardAmount": {
                  "type": "string"
                },
                "displayRarity": {
                  "type": "string",
                  "enum": [
                    "common",
                    "rare",
                    "epic",
                    "legendary"
                  ]
                },
                "stock": {
                  "type": "integer",
                  "minimum": 0
                },
                "stockState": {
                  "type": "string",
                  "enum": [
                    "available",
                    "low",
                    "sold_out"
                  ]
                },
                "isFeatured": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "name",
                "rewardAmount",
                "displayRarity",
                "stock",
                "stockState",
                "isFeatured"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "project",
          "fairness",
          "prizes",
          "featuredPrizes"
        ],
        "additionalProperties": false
      },
      "PrizeEngineOverviewEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "project": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "tenantId": {
                    "type": "integer"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "environment": {
                    "type": "string",
                    "enum": [
                      "sandbox",
                      "live"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "suspended",
                      "archived"
                    ]
                  },
                  "currency": {
                    "type": "string"
                  },
                  "drawCost": {
                    "type": "string"
                  },
                  "prizePoolBalance": {
                    "type": "string"
                  },
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "weighted_gacha",
                      "epsilon_greedy",
                      "softmax",
                      "thompson"
                    ]
                  },
                  "strategyParams": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "fairnessEpochSeconds": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  },
                  "maxDrawCount": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  },
                  "missWeight": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "id",
                  "tenantId",
                  "slug",
                  "name",
                  "environment",
                  "status",
                  "currency",
                  "drawCost",
                  "prizePoolBalance",
                  "strategy",
                  "strategyParams",
                  "fairnessEpochSeconds",
                  "maxDrawCount",
                  "missWeight"
                ],
                "additionalProperties": false
              },
              "fairness": {
                "type": "object",
                "properties": {
                  "epoch": {
                    "type": "integer"
                  },
                  "epochSeconds": {
                    "type": "integer"
                  },
                  "commitHash": {
                    "type": "string"
                  }
                },
                "required": [
                  "epoch",
                  "epochSeconds",
                  "commitHash"
                ],
                "additionalProperties": false
              },
              "prizes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "rewardAmount": {
                      "type": "string"
                    },
                    "displayRarity": {
                      "type": "string",
                      "enum": [
                        "common",
                        "rare",
                        "epic",
                        "legendary"
                      ]
                    },
                    "stock": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "stockState": {
                      "type": "string",
                      "enum": [
                        "available",
                        "low",
                        "sold_out"
                      ]
                    },
                    "isFeatured": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "rewardAmount",
                    "displayRarity",
                    "stock",
                    "stockState",
                    "isFeatured"
                  ],
                  "additionalProperties": false
                }
              },
              "featuredPrizes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "rewardAmount": {
                      "type": "string"
                    },
                    "displayRarity": {
                      "type": "string",
                      "enum": [
                        "common",
                        "rare",
                        "epic",
                        "legendary"
                      ]
                    },
                    "stock": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "stockState": {
                      "type": "string",
                      "enum": [
                        "available",
                        "low",
                        "sold_out"
                      ]
                    },
                    "isFeatured": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "rewardAmount",
                    "displayRarity",
                    "stock",
                    "stockState",
                    "isFeatured"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "project",
              "fairness",
              "prizes",
              "featuredPrizes"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false
      },
      "PrizeEngineFairnessCommit": {
        "type": "object",
        "properties": {
          "epoch": {
            "type": "integer"
          },
          "epochSeconds": {
            "type": "integer"
          },
          "commitHash": {
            "type": "string"
          }
        },
        "required": [
          "epoch",
          "epochSeconds",
          "commitHash"
        ],
        "additionalProperties": false
      },
      "PrizeEngineFairnessCommitEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "epoch": {
                "type": "integer"
              },
              "epochSeconds": {
                "type": "integer"
              },
              "commitHash": {
                "type": "string"
              }
            },
            "required": [
              "epoch",
              "epochSeconds",
              "commitHash"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false
      },
      "PrizeEngineFairnessReveal": {
        "type": "object",
        "properties": {
          "epoch": {
            "type": "integer"
          },
          "epochSeconds": {
            "type": "integer"
          },
          "commitHash": {
            "type": "string"
          },
          "seed": {
            "type": "string"
          },
          "revealedAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "format": "date-time"
              }
            ]
          }
        },
        "required": [
          "epoch",
          "epochSeconds",
          "commitHash",
          "seed",
          "revealedAt"
        ],
        "additionalProperties": false
      },
      "PrizeEngineFairnessRevealEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "epoch": {
                "type": "integer"
              },
              "epochSeconds": {
                "type": "integer"
              },
              "commitHash": {
                "type": "string"
              },
              "seed": {
                "type": "string"
              },
              "revealedAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              }
            },
            "required": [
              "epoch",
              "epochSeconds",
              "commitHash",
              "seed",
              "revealedAt"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false
      },
      "PrizeEngineRewardRequest": {
        "type": "object",
        "properties": {
          "environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "live"
            ]
          },
          "agent": {
            "type": "object",
            "properties": {
              "agentId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "groupId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "nullable": true
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "agentId"
            ],
            "additionalProperties": false
          },
          "behavior": {
            "type": "object",
            "properties": {
              "actionType": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "score": {
                "type": "number"
              },
              "novelty": {
                "type": "number"
              },
              "risk": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "context": {
                "type": "object",
                "additionalProperties": {}
              },
              "signals": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "actionType",
              "score"
            ],
            "additionalProperties": false
          },
          "riskEnvelope": {
            "type": "object",
            "properties": {
              "dailyBudgetCap": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "maxSinglePayout": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "varianceCap": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "group": {
                "type": "object",
                "properties": {
                  "maxDrawCount": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "nullable": true
                  },
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  }
                },
                "additionalProperties": false
              },
              "agent": {
                "type": "object",
                "properties": {
                  "maxDrawCount": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "nullable": true
                  },
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "budget": {
            "type": "object",
            "properties": {
              "amount": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "remaining": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "currency": {
                "type": "string",
                "minLength": 3,
                "maxLength": 16,
                "nullable": true
              },
              "window": {
                "type": "string",
                "enum": [
                  "request",
                  "session",
                  "day",
                  "campaign",
                  "lifetime"
                ],
                "nullable": true
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "additionalProperties": false
          },
          "idempotencyKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "clientNonce": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "nullable": true
          }
        },
        "required": [
          "agent",
          "behavior",
          "idempotencyKey"
        ],
        "additionalProperties": false
      },
      "PrizeEngineRewardResponse": {
        "type": "object",
        "properties": {
          "agent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "projectId": {
                "type": "integer"
              },
              "agentId": {
                "type": "string"
              },
              "groupId": {
                "type": "string",
                "nullable": true
              },
              "ownerMetadata": {
                "type": "object",
                "additionalProperties": {},
                "nullable": true
              },
              "fingerprint": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "suspended",
                  "archived"
                ]
              },
              "createdAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              }
            },
            "required": [
              "id",
              "projectId",
              "agentId",
              "status",
              "createdAt"
            ],
            "additionalProperties": false
          },
          "player": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "projectId": {
                "type": "integer"
              },
              "externalPlayerId": {
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "nullable": true
              },
              "balance": {
                "type": "string"
              },
              "pityStreak": {
                "type": "integer",
                "minimum": 0
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {},
                "nullable": true
              },
              "createdAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              },
              "updatedAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              }
            },
            "required": [
              "id",
              "projectId",
              "externalPlayerId",
              "displayName",
              "balance",
              "pityStreak",
              "createdAt",
              "updatedAt"
            ],
            "additionalProperties": false
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "playerId": {
                "type": "integer"
              },
              "prizeId": {
                "type": "integer",
                "nullable": true
              },
              "drawCost": {
                "type": "string"
              },
              "rewardAmount": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "createdAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              },
              "selectionStrategy": {
                "type": "string"
              },
              "fairness": {
                "type": "object",
                "properties": {
                  "epoch": {
                    "type": "integer"
                  },
                  "epochSeconds": {
                    "type": "integer"
                  },
                  "commitHash": {
                    "type": "string"
                  },
                  "clientNonce": {
                    "type": "string",
                    "nullable": true
                  },
                  "serverNonce": {
                    "type": "string",
                    "nullable": true
                  },
                  "nonceSource": {
                    "type": "string",
                    "enum": [
                      "client",
                      "server"
                    ]
                  },
                  "rngDigest": {
                    "type": "string",
                    "nullable": true
                  },
                  "totalWeight": {
                    "type": "number",
                    "nullable": true
                  },
                  "randomPick": {
                    "type": "number",
                    "nullable": true
                  },
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "weighted_gacha",
                      "epsilon_greedy",
                      "softmax",
                      "thompson"
                    ]
                  },
                  "epsilon": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "nullable": true
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "explore",
                      "exploit"
                    ],
                    "nullable": true
                  },
                  "selectionDigest": {
                    "type": "string",
                    "nullable": true
                  },
                  "candidateCount": {
                    "type": "integer",
                    "minimum": 0,
                    "nullable": true
                  },
                  "selectedArmId": {
                    "type": "integer",
                    "nullable": true
                  },
                  "selectedArmKind": {
                    "type": "string",
                    "enum": [
                      "prize",
                      "miss"
                    ],
                    "nullable": true
                  },
                  "risk": {
                    "type": "object",
                    "properties": {
                      "inputRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "previousAccumulatedRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "decayedAccumulatedRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "effectiveRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "weightDecayAlpha": {
                        "type": "number",
                        "minimum": 0
                      },
                      "riskStateHalfLifeSeconds": {
                        "type": "integer",
                        "exclusiveMinimum": true,
                        "minimum": 0
                      },
                      "weightMultiplier": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "basePrizeWeightTotal": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "adjustedPrizeWeightTotal": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": [
                      "inputRisk",
                      "previousAccumulatedRisk",
                      "decayedAccumulatedRisk",
                      "effectiveRisk",
                      "weightDecayAlpha",
                      "riskStateHalfLifeSeconds",
                      "weightMultiplier",
                      "basePrizeWeightTotal",
                      "adjustedPrizeWeightTotal"
                    ],
                    "additionalProperties": false,
                    "nullable": true
                  },
                  "algorithm": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "nullable": true
              },
              "prize": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "rewardAmount": {
                    "type": "string"
                  },
                  "displayRarity": {
                    "type": "string",
                    "enum": [
                      "common",
                      "rare",
                      "epic",
                      "legendary"
                    ]
                  },
                  "stock": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "stockState": {
                    "type": "string",
                    "enum": [
                      "available",
                      "low",
                      "sold_out"
                    ]
                  },
                  "isFeatured": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "rewardAmount",
                  "displayRarity",
                  "stock",
                  "stockState",
                  "isFeatured"
                ],
                "additionalProperties": false,
                "nullable": true
              },
              "envelope": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "normal",
                      "mute"
                    ]
                  },
                  "triggered": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "scope": {
                          "type": "string",
                          "enum": [
                            "tenant",
                            "project",
                            "group",
                            "agent"
                          ]
                        },
                        "window": {
                          "type": "string",
                          "enum": [
                            "minute",
                            "hour",
                            "day"
                          ]
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "budget_cap",
                            "variance_cap",
                            "anti_exploit"
                          ]
                        },
                        "strategy": {
                          "type": "string",
                          "enum": [
                            "reject",
                            "mute"
                          ]
                        }
                      },
                      "required": [
                        "scope",
                        "window",
                        "reason",
                        "strategy"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "mode",
                  "triggered"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "id",
              "playerId",
              "prizeId",
              "drawCost",
              "rewardAmount",
              "status",
              "createdAt",
              "fairness"
            ],
            "additionalProperties": false
          },
          "legacy": {
            "type": "object",
            "properties": {
              "route": {
                "type": "string",
                "enum": [
                  "/v1/engine/draws"
                ]
              },
              "mode": {
                "type": "string",
                "enum": [
                  "legacy_gacha"
                ]
              },
              "deprecated": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "sunsetAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              }
            },
            "required": [
              "route",
              "mode",
              "deprecated",
              "sunsetAt"
            ],
            "additionalProperties": false
          },
          "behavior": {
            "type": "object",
            "properties": {
              "actionType": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "score": {
                "type": "number"
              },
              "novelty": {
                "type": "number"
              },
              "risk": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "context": {
                "type": "object",
                "additionalProperties": {}
              },
              "signals": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "actionType",
              "score"
            ],
            "additionalProperties": false
          },
          "riskEnvelope": {
            "type": "object",
            "properties": {
              "dailyBudgetCap": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "maxSinglePayout": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "varianceCap": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "group": {
                "type": "object",
                "properties": {
                  "maxDrawCount": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "nullable": true
                  },
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  }
                },
                "additionalProperties": false
              },
              "agent": {
                "type": "object",
                "properties": {
                  "maxDrawCount": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "nullable": true
                  },
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "budget": {
            "type": "object",
            "properties": {
              "amount": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "remaining": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "currency": {
                "type": "string",
                "minLength": 3,
                "maxLength": 16,
                "nullable": true
              },
              "window": {
                "type": "string",
                "enum": [
                  "request",
                  "session",
                  "day",
                  "campaign",
                  "lifetime"
                ],
                "nullable": true
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "additionalProperties": false
          },
          "idempotencyKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "replayed": {
            "type": "boolean"
          }
        },
        "required": [
          "agent",
          "player",
          "result",
          "behavior",
          "idempotencyKey",
          "replayed"
        ],
        "additionalProperties": false
      },
      "PrizeEngineRewardResponseEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "agent": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "agentId": {
                    "type": "string"
                  },
                  "groupId": {
                    "type": "string",
                    "nullable": true
                  },
                  "ownerMetadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "nullable": true
                  },
                  "fingerprint": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "suspended",
                      "archived"
                    ]
                  },
                  "createdAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "projectId",
                  "agentId",
                  "status",
                  "createdAt"
                ],
                "additionalProperties": false
              },
              "player": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "externalPlayerId": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string",
                    "nullable": true
                  },
                  "balance": {
                    "type": "string"
                  },
                  "pityStreak": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "nullable": true
                  },
                  "createdAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ]
                  },
                  "updatedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "projectId",
                  "externalPlayerId",
                  "displayName",
                  "balance",
                  "pityStreak",
                  "createdAt",
                  "updatedAt"
                ],
                "additionalProperties": false
              },
              "result": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "playerId": {
                    "type": "integer"
                  },
                  "prizeId": {
                    "type": "integer",
                    "nullable": true
                  },
                  "drawCost": {
                    "type": "string"
                  },
                  "rewardAmount": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "createdAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ]
                  },
                  "selectionStrategy": {
                    "type": "string"
                  },
                  "fairness": {
                    "type": "object",
                    "properties": {
                      "epoch": {
                        "type": "integer"
                      },
                      "epochSeconds": {
                        "type": "integer"
                      },
                      "commitHash": {
                        "type": "string"
                      },
                      "clientNonce": {
                        "type": "string",
                        "nullable": true
                      },
                      "serverNonce": {
                        "type": "string",
                        "nullable": true
                      },
                      "nonceSource": {
                        "type": "string",
                        "enum": [
                          "client",
                          "server"
                        ]
                      },
                      "rngDigest": {
                        "type": "string",
                        "nullable": true
                      },
                      "totalWeight": {
                        "type": "number",
                        "nullable": true
                      },
                      "randomPick": {
                        "type": "number",
                        "nullable": true
                      },
                      "strategy": {
                        "type": "string",
                        "enum": [
                          "weighted_gacha",
                          "epsilon_greedy",
                          "softmax",
                          "thompson"
                        ]
                      },
                      "epsilon": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1,
                        "nullable": true
                      },
                      "decision": {
                        "type": "string",
                        "enum": [
                          "explore",
                          "exploit"
                        ],
                        "nullable": true
                      },
                      "selectionDigest": {
                        "type": "string",
                        "nullable": true
                      },
                      "candidateCount": {
                        "type": "integer",
                        "minimum": 0,
                        "nullable": true
                      },
                      "selectedArmId": {
                        "type": "integer",
                        "nullable": true
                      },
                      "selectedArmKind": {
                        "type": "string",
                        "enum": [
                          "prize",
                          "miss"
                        ],
                        "nullable": true
                      },
                      "risk": {
                        "type": "object",
                        "properties": {
                          "inputRisk": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "previousAccumulatedRisk": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "decayedAccumulatedRisk": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "effectiveRisk": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "weightDecayAlpha": {
                            "type": "number",
                            "minimum": 0
                          },
                          "riskStateHalfLifeSeconds": {
                            "type": "integer",
                            "exclusiveMinimum": true,
                            "minimum": 0
                          },
                          "weightMultiplier": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          },
                          "basePrizeWeightTotal": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "adjustedPrizeWeightTotal": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "inputRisk",
                          "previousAccumulatedRisk",
                          "decayedAccumulatedRisk",
                          "effectiveRisk",
                          "weightDecayAlpha",
                          "riskStateHalfLifeSeconds",
                          "weightMultiplier",
                          "basePrizeWeightTotal",
                          "adjustedPrizeWeightTotal"
                        ],
                        "additionalProperties": false,
                        "nullable": true
                      },
                      "algorithm": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "nullable": true
                  },
                  "prize": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "rewardAmount": {
                        "type": "string"
                      },
                      "displayRarity": {
                        "type": "string",
                        "enum": [
                          "common",
                          "rare",
                          "epic",
                          "legendary"
                        ]
                      },
                      "stock": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "stockState": {
                        "type": "string",
                        "enum": [
                          "available",
                          "low",
                          "sold_out"
                        ]
                      },
                      "isFeatured": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "rewardAmount",
                      "displayRarity",
                      "stock",
                      "stockState",
                      "isFeatured"
                    ],
                    "additionalProperties": false,
                    "nullable": true
                  },
                  "envelope": {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "enum": [
                          "normal",
                          "mute"
                        ]
                      },
                      "triggered": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "scope": {
                              "type": "string",
                              "enum": [
                                "tenant",
                                "project",
                                "group",
                                "agent"
                              ]
                            },
                            "window": {
                              "type": "string",
                              "enum": [
                                "minute",
                                "hour",
                                "day"
                              ]
                            },
                            "reason": {
                              "type": "string",
                              "enum": [
                                "budget_cap",
                                "variance_cap",
                                "anti_exploit"
                              ]
                            },
                            "strategy": {
                              "type": "string",
                              "enum": [
                                "reject",
                                "mute"
                              ]
                            }
                          },
                          "required": [
                            "scope",
                            "window",
                            "reason",
                            "strategy"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "mode",
                      "triggered"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "id",
                  "playerId",
                  "prizeId",
                  "drawCost",
                  "rewardAmount",
                  "status",
                  "createdAt",
                  "fairness"
                ],
                "additionalProperties": false
              },
              "legacy": {
                "type": "object",
                "properties": {
                  "route": {
                    "type": "string",
                    "enum": [
                      "/v1/engine/draws"
                    ]
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "legacy_gacha"
                    ]
                  },
                  "deprecated": {
                    "type": "boolean",
                    "enum": [
                      true
                    ]
                  },
                  "sunsetAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ]
                  }
                },
                "required": [
                  "route",
                  "mode",
                  "deprecated",
                  "sunsetAt"
                ],
                "additionalProperties": false
              },
              "behavior": {
                "type": "object",
                "properties": {
                  "actionType": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "score": {
                    "type": "number"
                  },
                  "novelty": {
                    "type": "number"
                  },
                  "risk": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "context": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "signals": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "actionType",
                  "score"
                ],
                "additionalProperties": false
              },
              "riskEnvelope": {
                "type": "object",
                "properties": {
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "maxSinglePayout": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "group": {
                    "type": "object",
                    "properties": {
                      "maxDrawCount": {
                        "type": "integer",
                        "exclusiveMinimum": true,
                        "minimum": 0,
                        "nullable": true
                      },
                      "dailyBudgetCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      },
                      "varianceCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  },
                  "agent": {
                    "type": "object",
                    "properties": {
                      "maxDrawCount": {
                        "type": "integer",
                        "exclusiveMinimum": true,
                        "minimum": 0,
                        "nullable": true
                      },
                      "dailyBudgetCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      },
                      "varianceCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              },
              "budget": {
                "type": "object",
                "properties": {
                  "amount": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "remaining": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 16,
                    "nullable": true
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "request",
                      "session",
                      "day",
                      "campaign",
                      "lifetime"
                    ],
                    "nullable": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                },
                "additionalProperties": false
              },
              "idempotencyKey": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "replayed": {
                "type": "boolean"
              }
            },
            "required": [
              "agent",
              "player",
              "result",
              "behavior",
              "idempotencyKey",
              "replayed"
            ],
            "additionalProperties": false
          },
          "requestId": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "data"
        ],
        "additionalProperties": false
      },
      "PrizeEngineLegacyDrawRequest": {
        "type": "object",
        "properties": {
          "environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "live"
            ]
          },
          "player": {
            "type": "object",
            "properties": {
              "playerId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "displayName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 160,
                "nullable": true
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "required": [
              "playerId"
            ],
            "additionalProperties": false
          },
          "clientNonce": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "nullable": true
          },
          "risk": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "groupId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "nullable": true
          },
          "group_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "nullable": true
          },
          "agent": {
            "type": "object",
            "properties": {
              "idempotencyKey": {
                "type": "string",
                "minLength": 1,
                "maxLength": 191,
                "nullable": true
              },
              "requestSignature": {
                "type": "string",
                "minLength": 1,
                "maxLength": 512,
                "nullable": true
              },
              "fingerprint": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255,
                "nullable": true
              },
              "behaviorTemplate": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255,
                "nullable": true
              },
              "correlationGroup": {
                "type": "string",
                "minLength": 1,
                "maxLength": 191,
                "nullable": true
              },
              "occurredAt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ],
                "nullable": true
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {}
              }
            },
            "additionalProperties": false
          },
          "riskEnvelope": {
            "type": "object",
            "properties": {
              "dailyBudgetCap": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "maxSinglePayout": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "varianceCap": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "number"
                  }
                ],
                "nullable": true
              },
              "group": {
                "type": "object",
                "properties": {
                  "maxDrawCount": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "nullable": true
                  },
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  }
                },
                "additionalProperties": false
              },
              "agent": {
                "type": "object",
                "properties": {
                  "maxDrawCount": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0,
                    "nullable": true
                  },
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "rewardContext": {
            "type": "object",
            "properties": {
              "agent": {
                "type": "object",
                "properties": {
                  "agentId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "groupId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128,
                    "nullable": true
                  },
                  "ownerMetadata": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "fingerprint": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "suspended",
                      "archived"
                    ]
                  }
                },
                "required": [
                  "agentId"
                ],
                "additionalProperties": false
              },
              "behavior": {
                "type": "object",
                "properties": {
                  "actionType": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "score": {
                    "type": "number"
                  },
                  "novelty": {
                    "type": "number"
                  },
                  "risk": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "context": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "signals": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                },
                "required": [
                  "actionType",
                  "score"
                ],
                "additionalProperties": false
              },
              "riskEnvelope": {
                "type": "object",
                "properties": {
                  "dailyBudgetCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "maxSinglePayout": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "varianceCap": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "group": {
                    "type": "object",
                    "properties": {
                      "maxDrawCount": {
                        "type": "integer",
                        "exclusiveMinimum": true,
                        "minimum": 0,
                        "nullable": true
                      },
                      "dailyBudgetCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      },
                      "varianceCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  },
                  "agent": {
                    "type": "object",
                    "properties": {
                      "maxDrawCount": {
                        "type": "integer",
                        "exclusiveMinimum": true,
                        "minimum": 0,
                        "nullable": true
                      },
                      "dailyBudgetCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      },
                      "varianceCap": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ],
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              },
              "budget": {
                "type": "object",
                "properties": {
                  "amount": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "remaining": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 16,
                    "nullable": true
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "request",
                      "session",
                      "day",
                      "campaign",
                      "lifetime"
                    ],
                    "nullable": true
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                },
                "additionalProperties": false
              }
            },
            "required": [
              "agent",
              "behavior"
            ],
            "additionalProperties": false
          },
          "idempotencyKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": [
          "player"
        ],
        "additionalProperties": false
      },
      "PrizeEngineDrawResponse": {
        "type": "object",
        "properties": {
          "agent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "projectId": {
                "type": "integer"
              },
              "agentId": {
                "type": "string"
              },
              "groupId": {
                "type": "string",
                "nullable": true
              },
              "ownerMetadata": {
                "type": "object",
                "additionalProperties": {},
                "nullable": true
              },
              "fingerprint": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "enum": [
                  "active",
                  "suspended",
                  "archived"
                ]
              },
              "createdAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              }
            },
            "required": [
              "id",
              "projectId",
              "agentId",
              "status",
              "createdAt"
            ],
            "additionalProperties": false
          },
          "player": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "projectId": {
                "type": "integer"
              },
              "externalPlayerId": {
                "type": "string"
              },
              "displayName": {
                "type": "string",
                "nullable": true
              },
              "balance": {
                "type": "string"
              },
              "pityStreak": {
                "type": "integer",
                "minimum": 0
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {},
                "nullable": true
              },
              "createdAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              },
              "updatedAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              }
            },
            "required": [
              "id",
              "projectId",
              "externalPlayerId",
              "displayName",
              "balance",
              "pityStreak",
              "createdAt",
              "updatedAt"
            ],
            "additionalProperties": false
          },
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "playerId": {
                "type": "integer"
              },
              "prizeId": {
                "type": "integer",
                "nullable": true
              },
              "drawCost": {
                "type": "string"
              },
              "rewardAmount": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "createdAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              },
              "selectionStrategy": {
                "type": "string"
              },
              "fairness": {
                "type": "object",
                "properties": {
                  "epoch": {
                    "type": "integer"
                  },
                  "epochSeconds": {
                    "type": "integer"
                  },
                  "commitHash": {
                    "type": "string"
                  },
                  "clientNonce": {
                    "type": "string",
                    "nullable": true
                  },
                  "serverNonce": {
                    "type": "string",
                    "nullable": true
                  },
                  "nonceSource": {
                    "type": "string",
                    "enum": [
                      "client",
                      "server"
                    ]
                  },
                  "rngDigest": {
                    "type": "string",
                    "nullable": true
                  },
                  "totalWeight": {
                    "type": "number",
                    "nullable": true
                  },
                  "randomPick": {
                    "type": "number",
                    "nullable": true
                  },
                  "strategy": {
                    "type": "string",
                    "enum": [
                      "weighted_gacha",
                      "epsilon_greedy",
                      "softmax",
                      "thompson"
                    ]
                  },
                  "epsilon": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "nullable": true
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "explore",
                      "exploit"
                    ],
                    "nullable": true
                  },
                  "selectionDigest": {
                    "type": "string",
                    "nullable": true
                  },
                  "candidateCount": {
                    "type": "integer",
                    "minimum": 0,
                    "nullable": true
                  },
                  "selectedArmId": {
                    "type": "integer",
                    "nullable": true
                  },
                  "selectedArmKind": {
                    "type": "string",
                    "enum": [
                      "prize",
                      "miss"
                    ],
                    "nullable": true
                  },
                  "risk": {
                    "type": "object",
                    "properties": {
                      "inputRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "previousAccumulatedRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "decayedAccumulatedRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "effectiveRisk": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "weightDecayAlpha": {
                        "type": "number",
                        "minimum": 0
                      },
                      "riskStateHalfLifeSeconds": {
                        "type": "integer",
                        "exclusiveMinimum": true,
                        "minimum": 0
                      },
                      "weightMultiplier": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      },
                      "basePrizeWeightTotal": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "adjustedPrizeWeightTotal": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": [
                      "inputRisk",
                      "previousAccumulatedRisk",
                      "decayedAccumulatedRisk",
                      "effectiveRisk",
                      "weightDecayAlpha",
                      "riskStateHalfLifeSeconds",
                      "weightMultiplier",
                      "basePrizeWeightTotal",
                      "adjustedPrizeWeightTotal"
                    ],
                    "additionalProperties": false,
                    "nullable": true
                  },
                  "algorithm": {
                    "type": "string"
                  }
                },
                "additionalProperties": false,
                "nullable": true
              },
              "prize": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "rewardAmount": {
                    "type": "string"
                  },
                  "displayRarity": {
                    "type": "string",
                    "enum": [
                      "common",
                      "rare",
                      "epic",
                      "legendary"
                    ]
                  },
                  "stock": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "stockState": {
                    "type": "string",
                    "enum": [
                      "available",
                      "low",
                      "sold_out"
                    ]
                  },
                  "isFeatured": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "rewardAmount",
                  "displayRarity",
                  "stock",
                  "stockState",
                  "isFeatured"
                ],
                "additionalProperties": false,
                "nullable": true
              },
              "envelope": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "normal",
                      "mute"
                    ]
                  },
                  "triggered": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "scope": {
                          "type": "string",
                          "enum": [
                            "tenant",
                            "project",
                            "group",
                            "agent"
                          ]
                        },
                        "window": {
                          "type": "string",
                          "enum": [
                            "minute",
                            "hour",
                            "day"
                          ]
                        },
                        "reason": {
                          "type": "string",
                          "enum": [
                            "budget_cap",
                            "variance_cap",
                            "anti_exploit"
                          ]
                        },
                        "strategy": {
                          "type": "string",
                          "enum": [
                            "reject",
                            "mute"
                          ]
                        }
                      },
                      "required": [
                        "scope",
                        "window",
                        "reason",
                        "strategy"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "mode",
                  "triggered"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "id",
              "playerId",
              "prizeId",
              "drawCost",
              "rewardAmount",
              "status",
              "createdAt",
              "fairness"
            ],
            "additionalProperties": false
          },
          "legacy": {
            "type": "object",
            "properties": {
              "route": {
                "type": "string",
                "enum": [
                  "/v1/engine/draws"
                ]
              },
              "mode": {
                "type": "string",
                "enum": [
                  "legacy_gacha"
                ]
              },
              "deprecated": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "sunsetAt": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "string",
                    "format": "date-time"
                  }
                ]
              }
            },
            "required": [
              "route",
              "mode",
              "deprecated",
              "sunsetAt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "agent",
          "player",
          "result"
        ],
        "additionalProperties": false
      },
      "PrizeEngineDrawResponseEnvelope": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "agent": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "agentId": {
                    "type": "string"
                  },
                  "groupId": {
                    "type": "string",
                    "nullable": true
                  },
                  "ownerMetadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "nullable": true
                  },
                  "fingerprint": {
                    "type": "string",
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "suspended",
                      "archived"
                    ]
                  },
                  "createdAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "string",
                        "format": "date-time"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "projectId",
                  "agentId",
                  "status",
                  "createdAt"
                ],
                "additionalProperties": false
              },
              "player": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "projectId": {
                    "type": "integer"
                  },
                  "externalPlayerId": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string",
                    "nullable": true
                  },
                  "balance": {
                    "type": "string"
                  },
                  "pityStreak": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {},
                    "nullable": true
                  },
                  "createdAt": {
[...]
