APP_NAME="Probabilistic Reward Distribution System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=reward_system
DB_USERNAME=root
DB_PASSWORD=

AUTH_GUARD=sanctum
DRAW_COST=10
